In [24]:
import pandas as pd
import numpy as np
from xgboost import XGBClassifier, XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [25]:
# column_names = ['IDpol','ClaimNb','Exposure','Area','VehPower','VehAge','DrivAge','BonusMalus','VehBrand','VehGas','Density','Region']
path = r'data/freMTPL2freq.csv'
df = pd.read_csv(path)

In [26]:
df

,IDpol,ClaimNb,Exposure,Area,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Density,Region
0,1.0,1,0.10000,D,5,0,55,50,B12,Regular,1217,R82
1,3.0,1,0.77000,D,5,0,55,50,B12,Regular,1217,R82
2,5.0,1,0.75000,B,6,2,52,50,B12,Diesel,54,R22
3,10.0,1,0.09000,B,7,0,46,50,B12,Diesel,76,R72
4,11.0,1,0.84000,B,7,0,46,50,B12,Diesel,76,R72
...,...,...,...,...,...,...,...,...,...,...,...,...
678008,6114326.0,0,0.00274,E,4,0,54,50,B12,Regular,3317,R93
678009,6114327.0,0,0.00274,E,4,0,41,95,B12,Regular,9850,R11
678010,6114328.0,0,0.00274,D,6,2,45,50,B12,Diesel,1323,R82
678011,6114329.0,0,0.00274,B,4,0,60,50,B12,Regular,95,R26
678012,6114330.0,0,0.00274,B,7,6,29,54,B12,Diesel,65,R72

In [19]:
target = df['ClaimNb']
data = df[[c for c in df.columns if c!='ClaimNb']]

In [66]:
data['Area'] = data['Area'].astype("category")
data['VehBrand'] = data['VehBrand'].astype("category")
data['VehGas'] = data['VehGas'].astype("category")
data['Region'] = data['Region'].astype("category")

C:\Users\ronbo\AppData\Local\Temp\ipykernel_22200\4174482233.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Area'] = data['Area'].astype("category")
C:\Users\ronbo\AppData\Local\Temp\ipykernel_22200\4174482233.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['VehBrand'] = data['VehBrand'].astype("category")
C:\Users\ronbo\AppData\Local\Temp\ipykernel_22200\4174482233.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['VehGas'] = data['VehGas'].astype("category")
C:\Users\ronbo\AppData\Local\Temp\ipykernel_22200\4174482233.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Region'] = data['Region'].astype("category")

In [67]:
data.dtypes

IDpol          float64
Exposure       float64
Area          category
VehPower         int64
VehAge           int64
DrivAge          int64
BonusMalus       int64
VehBrand      category
VehGas        category
Density          int64
Region        category
dtype: object

In [69]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=.2)
# create model instance
bst = XGBRegressor(tree_method="gpu_hist",enable_categorical=True)
# fit model
bst.fit(X_train, y_train)
# make predictions
preds = bst.predict(X_test)
print(preds)

[0.04954528 0.19073108 0.00196286 ... 0.30888233 0.03573311 0.12129484]

In [71]:
# Evaluate the model
mse = mean_squared_error(y_test, preds)
rmse = np.sqrt(mse)
print(f'RMSE: {rmse:.2f}')

RMSE: 0.21